body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #111;
  color: #fff;
  line-height: 1.6;
}

header {
  background: #222;
  padding: 1rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

nav ul li {
  margin: 0 1rem;
}

nav a {
  color: #00ffcc;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 2rem;
  border-bottom: 1px solid #333;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #aaa;
}

button {
  background: #00cc66;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

select {
  margin-left: 0.5rem;
  padding: 0.4rem;
  background: #222;
  color: white;
  border: 1px solid #555;
}

#grade-range {
  display: grid;
  grid-template-columns: repeat(13, 1fr); /* 13 colunas */
  gap: 4px;
  margin-top: 10px;
  max-width: 650px;
}

.mao {
  background: #333;
  padding: 8px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
  font-size: 13px;
}

.mao.ativo {
  background: #00cc66;
  color: #fff;
}
